@page "/"

<PageTitle>Index</PageTitle>

<div class="contenedor">
	<form class="form">
	<h1>Inicio de Sesión</h1>
	<input type="text" name="user" placeholder="User" class="form-control">
	<input type="password" name="password" placeholder="Password" class="form-control">
	<button type="submit" id="login-button" class="btn btn-primary w-25 align-self-end">Login</button>
</form>
</div>

@code
{
	
}
